body {
    margin: 0px;
}

.logo {
    width: 177px;
    height: 35px;
}

.header {
    background-color: #385898;
}

.header-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
}

.header-content {
    display: flex;
    flex-direction: row;
    color: white;
}

.email-phone::before {
    content: "Email or Phone";
}

.header-element {
    margin-right: 30px;
}

.forgot-account {
    color: lightgray;
}

.log-in {
    color: white;
    height: 30px;
    margin-top: 50px;
    background-color: #385999;
    border: blue 1px solid;
}

.main {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.article {
    width: 600px;
}

.section {
    width: 600px;
}

.section-title {
    margin-bottom: 0px;
}

.section-text {
    margin-top: 0px;
}

.acticle-img {
    width: 50px;
    height: 50px;
    /*margin-bottom: 0px;*/
}

.article-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.acticle-text {
    margin-top: 50px;
}

.input-margin {
    margin-bottom: 10px;
    width: 900px;
}

.name-text {
    width: 294px;
    height: 30px;
    border: #bdc7d8 1px solid;
}

.text {
    width: 597px;
    height: 30px;
    border: #bdc7d8 1px solid;
}

.label-color {
    color: gray;
}

.select {
    width: 500px;
}

.sign-up {
    width: 300px;
    height: 40px;
    background-color: #578843;
    color: white;
    font-size: 24px;
    border-radius: 5px;
}

.text-blue {
    color: #385898;
}

.text-gray {
    color: #737373;
}

.text-margin {
    margin-right: 5px;
}

.copyright {
    margin-right: 100px;
    margin-left: 100px;
}